PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://user@localhost:5432/restaurant_admin?schema=public
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d
SWAGGER_ENABLED=true
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMe123!
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Admin
